#cuerpo{
    background: rgb(80,90,94);
    background: linear-gradient(90deg, rgba(80,90,94,1) 0%, rgba(124,155,170,1) 47%, rgba(193,215,226,1) 93%);
    border-radius: 80px;
    #divCarrito{
        width: 500px;
        height: 500px;
        border: 5px double black;
        display: none;
        position: fixed;
        top: 110px;
        left: 90px;
        z-index: 99;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.781);
        #carro{
            font-size: 25px;
            margin-left: 30px;
            #lista{
                margin-left: 30px;
                color: white;
                font-weight: 500;
            }
        }

    }
    #mostrar{
        background-color: white;
        padding: 18px 30px;
        position: fixed;
        top: 40px;
        left: 10px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
        border-radius: 80px;
        width: 100px;
        height: 90px;
        #image{
            margin-left: -9px;
            margin-top: 0px;
        }
    }
    #mostrar:hover{
        width: 105px;
        height: 95px;
        #image{
            margin-left: -5px;
            margin-top: 2px;
        }
    }
    .btn-flotante{
        background-color: rgb(184, 159, 159);
        padding: 18px 30px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
        border-radius: 80px;
    }
    #saludo{
        p{
            text-align: center;
            font-weight: 900;
            font-size: 50px;
            font-family: 'Roboto Mono', monospace;        }
    }
    
    .btn-flotante:hover {
        background-color: gray;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
    }
    .titulo{
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: underline;
        color: black;
    }
    .margen{
        margin-top: 100px;
        grid-template-columns: 30px;
        .margen2{
            margin-bottom: 30px;
            color: white;
            border: 2px solid white;
            margin: 10px;
            padding: 20px;
            #cantidad{
                width: 50px;
            }
            .descripcion{
                text-decoration: underline black;
                color: black;

            }
            .descripcion:hover{
                font-weight: 700;
            }
            .seña{
                color: rgba(0, 0, 0, 0.795);
            }
        }
    }
    .piepagina{
        
        border-top: 10px solid gray;
        margin-top: 100px;
        border: 2px solid black;
        .formulario{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-self: center;
            justify-self: center;
            .letraform{
            color: black;
            width: 700px;
                .legend{
                    animation-name: aparecer;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-delay: 2s;
                }
                @keyframes aparecer{
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        .contactanos{
            display: row;
            margin-bottom: 50px;
        }
        }
    }
}
@media only screen and (max-width: 600px) {
    .galeria{ 
        .btn-flotante {
            font-size: 14px;
            padding: 12px 20px;
            bottom: 20px;
            right: 20px;
        }
    } 
} 
